<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".StaffPackage.StaffOrderAddActivity"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.StaffOrderActivity"
            android:exported="false" />
        <activity
            android:name=".BookTableActivity"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.StaffBillActivity"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.CustomerPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerPackage.CustomersAccountEditActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerPackage.AddReviewActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerPackage.DetailFoodActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerPackage.CustomersAccountActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerPackage.CustomersReviewActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerPackage.CustomersTablesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.ReportsDetails"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.CustomersDetails"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.EditStaffsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.AddStaffsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.StaffsDetails"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.StaffsAccountActivity"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.StaffsReportsActivity"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.StaffsPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.StaffsCustomersActivity"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.StaffsTablesActivity"
            android:exported="false" />
        <activity
            android:name=".StaffPackage.StaffsMenuActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Account" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".AdminPackage.SalesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.TablesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.CustomersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.StaffsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPackage.AdminMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".CustomerPackage.CustomersMenuActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity android:name=".StaffPackage.StaffNewReportActivity" />
        <activity android:name="com.softwareengineering.restaurant.StaffPackage.TableDetailBooked" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>